<div>
            <!-- Carousel -->
            <div id="templatemo-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#templatemo-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#templatemo-carousel" data-slide-to="1"></li>
                    <li data-target="#templatemo-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>WELCOME TO TKMC CANADA</h1>
                                <p>IN HOC SIGNO VINCES</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="container">
                                <div class="carousel-caption">
                                    <div class="col-sm-6 col-md-6">
                                    	<h1>TEMPLAR KNIGHTS</h1>
                                        <p>Membership consists and welcomes people from all walks of life, who have strong moral and ethical standards in their communities.  We are not a 1% club. We neither condone evil nor participate in illegal activity</p>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                    	<h1>A MULTINATIONAL FATERNAL ORDER</h1>
                                        <p>We are growning and in addition to giving back to our communities we are a brotherhood who have a common love - the love to ride</p>
                                    </div>
                                </div>
                        </div>
                    </div>
                        <div class="item">
                            <div class="container">
                                <div class="carousel-caption">
                                	<h1>Become a Sponser!</h1>
                                    <p>Browse the site, see what we've been up too and if your interested in learning more contact us today.</p>
                                    <p><a class="btn btn-lg btn-orange" href="#templatemo-contact" role="button">Contact Us</a></p>
                                </div>
                            </div>
                        </div>
                </div>
                <a class="left carousel-control" href="#templatemo-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#templatemo-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div><!-- /#templatemo-carousel -->
        </div>