

<div id="templatemo-contact">
            <div class="container">
                <div class="row">
                    <div class="templatemo-line-header head_contact">
                        <div class="text-center">
                            <hr class="team_hr team_hr_left hr_gray"/><span class="txt_darkgrey">CONTACT US</span>
                            <hr class="team_hr team_hr_right hr_gray"/>
                        </div>
                    </div>
<!--
                    <div class="col-md-8" ng-controller="mainCtrl">
                        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options"></ui-gmap-google-map>
                        <div class="clearfix"></div>
                        <i>You can find, <span class="txt_orange">TKMC Canada</span> in Renfrew Ontario.</i>
                    </div>
-->
                    <div class="col-md-8">
                        <div class="templatemo-contact-map" id="map-canvas"> </div>  
                        <div class="clearfix"></div>
                        <i>You can find, <span class="txt_orange">TKMC Canada</span> in Renfrew Ontario.</i>
                    </div>
                    <div class="col-md-4 contact_right">
                        <p>TKMC Canada Renfrew Lodge - Commander's Address</p>
                        <p><img src="images/location.png" alt="icon 1" /> 8th Street, Renfrew</p>
                        <p><img src="images/phone1.png"  alt="icon 2" /> 416-525-3972</p>
                        <p><img src="images/globe.png" alt="icon 3" /><a class="link_orange" href="#"><span class="txt_orange">www.tkmc-canada.com</span></a></p>
                        <form name="tkmcContactForm" class="form-horizontal" action="#" >
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="contactName" placeholder="Your Name..." maxlength="40" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" ng-model="contactEmail" placeholder="Your Email..." maxlength="40" />
                            </div>
                            <div class="form-group">
                                <textarea  class="form-control" style="height: 130px;" ng-model="contactMessage" placeholder="Write down your message..."></textarea>
                            </div>
                            <button type="submit" class="btn btn-orange pull-right">SEND</button>
                        </form>
                        	 
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /#templatemo-contact -->